@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* body{
    background-color: white;
} */
button{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #478770;
  border: none;
  height: 40px;
  width: 130px;
  border-radius: 10px;
}
button:hover{
  background-color: #00baaa;
  color: white;
}
.top-bar{
  justify-content: space-between;
  display: flex;
  padding: 16px 24px;
}
.e{
  padding: 50px;
}
ul.nav-bar{
  justify-content: center;

  margin-top:auto;
  margin-bottom: auto;
}

h1{
    font-size: 40px;
    color: black;
    font-weight: bold;
    font-family: "Lobster", cursive;
    width: fit-content;
    display: inline;  
}
a.nav-bar{
  padding: 5px, 5px;
}
ul{
    display: inline;
    list-style: none;
    justify-content: center;

  }
li {
  width: fit-content;
  display: inline;
  /* display: flex; */
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;



}
li a {
    justify-content: center;
    display: inline;
    color: black;
    text-align: center;
    text-decoration: none;
    width: auto;
  }

.simplified{
    font-size: 45px;
    font-weight: 700;
    justify-content: left;
}
.writing{
    height: 60px;
    margin-left: 0;
    margin-right: auto;
    justify-content: left;
    width: 600px; 
    text-align: left;
    
}
.install-box{
  /* border: 1px solid, white; */
  /* background-color: white;   */
    text-align: center;
    justify-content: center;
    display: flex;
    width: 1200px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: auto;
}
.chrome-image{
    display: inline;
}
.subtitle{  
    margin-top: 5%;
    line-height: 32px;
    font-size: 20px;
    font-weight: 350;
    font-style: normal;
}
.chrome{
    margin-top: 5%;

}
.get-button{
  margin-left: 2%;
  display:inline;
  margin-bottom: auto;
  margin-top: 0;
}
body{
    background: url('https://media.istockphoto.com/photos/wide-angle-light-blue-blur-background-picture-id1004961090?k=6&m=1004961090&s=170667a&w=0&h=MY311XyThJUPviwP-oGPWx02MJ8FK-ClHYxrvkr9A8g=') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* position:fixed; */
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 0;
    z-index: 2;
    animation-name: fade;
    animation-duration: 2s;
}
body{
    background: url('https://media.istockphoto.com/photos/wide-angle-light-blue-blur-background-picture-id1004961090?k=6&m=1004961090&s=170667a&w=0&h=MY311XyThJUPviwP-oGPWx02MJ8FK-ClHYxrvkr9A8g=') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0;
    z-index: 2;
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
}
.turbine-image{
  height: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
}